@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: none;
  text-decoration: none;
  list-style-type: none; }

html, body {
  font-size: 100%;
  width: 100%;
  height: 100%; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.break {
  width: 100%;
  height: 0; }

/*weights: 400,700*/
/*weights: 400,700*/
header {
  background-color: #1c2431;
  color: white; }
  @media screen and (min-width: 1000px) {
    header {
      background-image: url("images/bg-curvy-desktop.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      padding: 0 0 4% 0; } }
  header div:nth-of-type(1) section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 5% 5% 40px 5%;
    background-image: url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 200px;
    margin-bottom: -60px; }
    @media screen and (min-width: 1000px) {
      header div:nth-of-type(1) section:nth-of-type(1) {
        background-image: none;
        margin: 0;
        padding: 5% 5% 0 5%; } }
    header div:nth-of-type(1) section:nth-of-type(1) img:nth-of-type(1) {
      width: 15%;
      max-width: 150px;
      align-self: center; }
    header div:nth-of-type(1) section:nth-of-type(1) nav > ul {
      display: flex;
      justify-content: space-between; }
      header div:nth-of-type(1) section:nth-of-type(1) nav > ul li {
        margin: 0 0 0 1em; }
    header div:nth-of-type(1) section:nth-of-type(1) img:nth-of-type(2) {
      display: block;
      margin: 3em auto;
      width: 100%;
      max-width: 700px; }
      @media screen and (min-width: 1000px) {
        header div:nth-of-type(1) section:nth-of-type(1) img:nth-of-type(2) {
          margin: 0em auto 3em auto; } }
    header div:nth-of-type(1) section:nth-of-type(1) h1 {
      display: block;
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.5; }
  header div:nth-of-type(1) section:nth-of-type(2) {
    text-align: center;
    background-color: #181f2a;
    margin-top: -60px;
    padding: 0 5% 10% 0; }
    @media screen and (min-width: 1000px) {
      header div:nth-of-type(1) section:nth-of-type(2) {
        background-color: transparent;
        margin: 0; } }
    header div:nth-of-type(1) section:nth-of-type(2) p {
      display: block;
      max-width: 550px;
      margin: 2.5em auto;
      line-height: 1.5; }
    header div:nth-of-type(1) section:nth-of-type(2) button {
      display: block;
      margin: 0 auto;
      width: 55%;
      max-width: 280px;
      height: 3em; }

main {
  padding: 20% 5%;
  color: white;
  background-color: #181f2a; }
  @media screen and (min-width: 1000px) {
    main {
      padding: 5% 5%; } }
  @media screen and (min-width: 803px) {
    main div:nth-of-type(1) section:nth-of-type(1) {
      display: flex;
      flex-wrap: wrap; } }
  main div:nth-of-type(1) section:nth-of-type(1) div {
    text-align: center;
    line-height: 1.6;
    margin: 0 auto 5em auto;
    max-width: 300px; }
    @media screen and (min-width: 803px) {
      main div:nth-of-type(1) section:nth-of-type(1) div {
        margin: 0 auto 2.5em auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: none; }
        main div:nth-of-type(1) section:nth-of-type(1) div div:nth-of-type(1) {
          display: block;
          margin-right: auto;
          width: 30%; }
        main div:nth-of-type(1) section:nth-of-type(1) div div:nth-of-type(2) {
          display: block;
          margin-left: auto;
          width: 30%; } }
    main div:nth-of-type(1) section:nth-of-type(1) div img {
      width: 40%;
      max-width: 80px; }
      @media screen and (min-width: 803px) {
        main div:nth-of-type(1) section:nth-of-type(1) div img {
          margin: 0 0 1em 0; } }
    @media screen and (min-width: 803px) {
      main div:nth-of-type(1) section:nth-of-type(1) div h2 {
        margin: 0 0 0.3em 0; } }
  main div:nth-of-type(1) section:nth-of-type(2) {
    text-align: left;
    line-height: 1.7; }
    @media screen and (min-width: 1000px) {
      main div:nth-of-type(1) section:nth-of-type(2) {
        display: flex;
        justify-content: space-between; } }
    main div:nth-of-type(1) section:nth-of-type(2) img {
      width: 90%;
      max-width: 550px;
      margin: 0 auto 4em auto;
      display: block; }
      @media screen and (min-width: 1000px) {
        main div:nth-of-type(1) section:nth-of-type(2) img {
          margin: 0 auto 0 0;
          max-width: 48%; } }
    @media screen and (min-width: 1000px) {
      main div:nth-of-type(1) section:nth-of-type(2) div:nth-of-type(1) {
        width: 48%;
        padding: 100px 0 0 0; } }
    main div:nth-of-type(1) section:nth-of-type(2) h1 {
      margin: 0 0 0.8em 0;
      max-width: 400px; }
      @media screen and (min-width: 1000px) {
        main div:nth-of-type(1) section:nth-of-type(2) h1 {
          margin: 0 0 0.3em 0; } }
    main div:nth-of-type(1) section:nth-of-type(2) button {
      margin: 1em 0 0 0;
      display: flex;
      flex-wrap: wrap;
      width: 210px;
      text-align: left;
      height: 1.5em;
      background-color: transparent; }
      main div:nth-of-type(1) section:nth-of-type(2) button img {
        width: 20px;
        align-self: center;
        margin: 0 0 0 8px; }

/*# sourceMappingURL=main.css.map */
