footer{
    color:white;
    background-color:$darkblue3;
    padding:240px 5% 10% 5%;
    @media screen and (min-width:1000px) {
        padding:190px 5% 7% 5%;
    }
    .wrapper{
        > .flex{
            @media screen and (min-width:1000px) {
                display:flex;
                flex-wrap: wrap;
                justify-content:space-between;
                margin:2em 0 0 0;
            }
            div:nth-of-type(1) {
                display:grid;
                grid-template-columns:30px 2fr;
                grid-template-rows:repeat(5,2em);
                grid-column-gap:5px;
                margin:2em 0 4em 0;
                @media screen and (min-width:1000px) {
                    margin:0;
                    grid-template-columns:30px 3.3fr 30px 1fr;
                    max-width:55%;
                }
                img:nth-of-type(1),span:nth-of-type(1){
                    grid-row:1/2;
                    max-width:380px;
                }
                
                img:nth-of-type(2),span:nth-of-type(2){
                    grid-row:4;
                    @media screen and (min-width:1000px) {
                        grid-column:3;
                        grid-row:1;
                    }
                }

                span:nth-of-type(2){
                    @media screen and (min-width:1000px) {
                        grid-column:4;
                    }
                }
                
                img:nth-of-type(3),span:nth-of-type(3){
                    grid-row:5;
                    @media screen and (min-width:1000px) {
                        grid-column:3;
                        grid-row:2;
                    }
                }
                span:nth-of-type(3){
                    @media screen and (min-width:1000px) {
                        grid-column:4;
                    }
                }
            }
            div:nth-of-type(2) {
                margin:0 0 3em 0;
                @media screen and (min-width:1000px) {
                    display:flex;
                    justify-content:space-between;
                    flex-wrap:wrap;
                    width:20%;
                    margin:0 auto 0 80px;
                }
                ul{
                    margin:0 0 2em 0;
                    display:block;
                    li{
                        margin:0 0 0.5em 0;
                        @media screen and (min-width:1000px) {
                            margin: 0 0 1em 0;
                        }
                    }
                    ul:nth-of-type(1) {
                        margin:0 0 0 auto;
                    }
                }
            }
            div:nth-of-type(3) {
                display:grid;
                grid-template-columns: repeat(3,1fr);
                grid-column-gap:15px;
                width:150px;
                margin: 0 auto;
                @media screen and (min-width:1000px) {
                    margin:0 0 0 auto;
                    max-width:120px;
                }
                img{
                    border:solid black;
                    border-width:1px;
                    padding:3px;
                    border-radius:50%;
                    filter: invert(100%);
                    @media screen and (min-width:1000px) {
                        width:25px;
                    }
                }
            }
        }
    }
}