main{
    padding:20% 5%;
    color:white;
    @media screen and (min-width:1000px) {
        padding:5% 5%;

    }
    background-color:$darkblue2;
    div:nth-of-type(1) {
        section:nth-of-type(1) {
            @media screen and (min-width:803px) {
                display:flex;
                flex-wrap:wrap;
            }
            div{
                text-align:center;
                line-height:1.6;
                margin: 0 auto 5em auto;
                max-width:300px;
                @media screen and (min-width:803px) {
                    margin:0 auto 2.5em auto;
                    display:flex;
                    justify-content:space-between;
                    width:90%;
                    max-width:none;
                    div:nth-of-type(1) {
                        display:block;
                        margin-right:auto;
                        width:30%;
                    }
                    div:nth-of-type(2) {
                        display:block;
                        margin-left:auto;
                        width:30%;
                    }
                }
                img{
                    width:40%;
                    max-width:80px;
                    @media screen and (min-width:803px) {
                        margin:0 0 1em 0;
                    }
                }
                h2{
                    @media screen and (min-width:803px) {
                        margin: 0 0 0.3em 0;
                    }
                }
            }
        }
        section:nth-of-type(2) {
            text-align:left;
            line-height:1.7;
            @media screen and (min-width:1000px) {
                display:flex;
                justify-content:space-between;
            }
            img{
                width:90%;
                max-width:550px;
                margin:0 auto 4em auto;
                display:block;
                @media screen and (min-width:1000px) {
                    margin:0 auto 0 0;
                    max-width:48%;
                }
            }
            div:nth-of-type(1) {
                @media screen and (min-width:1000px) {
                    width:48%;
                    padding:100px 0 0 0 ;
                }
            }
            h1{
                margin: 0 0 0.8em 0;
                max-width:400px;
                @media screen and (min-width:1000px) {
                    margin: 0 0 0.3em 0;
                }
            }
            button{
                margin: 1em 0 0 0;
                display:flex;
                flex-wrap:wrap;
                
                width:210px;
                text-align:left;
                height:1.5em;
                background-color:transparent;
                img{
                    width:20px;
                    align-self:center;
                    margin: 0 0 0 8px;
                }
            }
        }

    }
}